<!doctype html>
<html>

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Login page for Student Elections 2017">

    <title>Student Elections 2017 - Login</title>

    <!-- Scripts -->

    <!-- CSS -->

</head>

<body>
    <h1>Login page for Student Elections 2017</h1>
    <form action="/login" method="POST">
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Submit">
  </form>
</body>

</html>
