<!doctype html>
<html lang="en">

<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Login page for Student Elections 2017">
  <title>Student Elections 2017 - Login</title>

  <!-- Tachyons -->
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">

</head>

<body>

  <div class="intro-header" id="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1></h1>
            <h3></h3>
            <hr class="intro-divider">
            <form action="/login" method="POST">
              {% if error %}
                <div class="alert alert-danger" role="alert">
                    Your username or password is not recognized
                </div>
              {% elif fromVote %}
                <div class="alert alert-success" role="alert">
                    Thank you for voting!
                </div>
              {% endif %}
              <div class = "row">
                <div class = "col-md-5 text-right">
                    Username: 
                </div>
                <div class = "ml-md-auto col-md-7 text-left">
                    <input type="text" name="username"><br>
                </div>
              </div>
              <div class = "row">
                  <div class = "col-md-5 text-right">
                      Password: 
                  </div>
                  <div class = "ml-md-auto col-md-7 text-left">
                      <input type="password" name="password"><br>
                  </div>
                </div>
              <input type="submit" value="Log In" class="btn btn-success">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
