<!doctype html>
<html lang="en">

<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Login page for Student Elections 2017">
  <title>Student Elections 2017 - Login</title>

  <!-- Tachyons -->
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">

</head>

<body>

  <main>
    <form action="/login" method="POST" class="measure center">
      {% if error %}
        <div class="alert alert-danger" role="alert">
          Your username or password is not recognized
        </div>
      {% elif fromVote %}
        <div class="alert alert-success" role="alert">
          Thank you for voting!
        </div>
      {% endif %}
      <fieldset id="signin ba b--black-10 ph0 mh0">
        <div class="mt3">
          <label class="" for="username">Username</label>
          <input class="" type="text" name="username" id="username">
        </div>
        <div class="mv3">
          <label class="" for="password">Password</label>
          <input class="" type="password" name="password"  id="password">
        </div>
      </fieldset>
      <div class="">
        <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Sign in">
      </div>
    </form>
  </main>

</body>

</html>
