<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Halalan 2018</title>
</head>
<body>
    <p>I'm really gay</p>

    <script>    
        window.setTimeout(function(){
   
          // Move to a new location or you can do something else
          window.location.href = "http://127.0.0.1:5000/login";
   
          }, 5000);
   
    </script>
</body>
</html>