<!doctype html>
<html>

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Voting page for Student Elections 2017">

    <title>Student Elections 2017 - Vote</title>

    <!-- Scripts -->

    <!-- CSS -->

</head>

<body>
  <h1>Voting page for Student Elections 2017</h1>
  <form action='/vote' method='POST'>
    <tbody>
      <th></th>
      <h2>President</h2>
      {% for president in presidentList %}
      <tr>
        <td>{{president.candidateLName}}, {{president.candidateFName}}</td>
        <td>{{president.candidateAffiliation}}</td>
        <td><input name="presidentForm" type="radio" value="{{president.candidateID}}" required>
      </tr>
      {% endfor %}
      <h2>Vice President</h2>
      {% for vicePresident in vicePresidentList %}
      <tr>
        <td>{{vicePresident.candidateLName}}, {{vicePresident.candidateFName}}</td>
        <td>{{vicePresident.candidateAffiliation}}</td>
        <td><input name="vicePresidentForm" type="radio" value="{{vicePresident.candidateID}}" required>
      </tr>
      {% endfor %}
      <h2>Secretary</h2>
      {% for secretary in secretaryList %}
      <tr>
        <td>{{secretary.candidateLName}}, {{secretary.candidateFName}}</td>
        <td>{{secretary.candidateAffiliation}}</td>
        <td><input name="secretaryForm" type="radio" value="{{secretary.candidateID}}" required>
      </tr>
      {% endfor %}
      <h2>Treasurer</h2>
      {% for treasurer in treasurerList %}
      <tr>
        <td>{{treasurer.candidateLName}}, {{treasurer.candidateFName}}</td>
        <td>{{treasurer.candidateAffiliation}}</td>
        <td><input name="treasurerForm" type="radio" value="{{treasurer.candidateID}}" required>
      </tr>
      {% endfor %}
      <h2>Auditor</h2>
      {% for auditor in auditorList %}
      <tr>
        <td>{{auditor.candidateLName}}, {{auditor.candidateFName}}</td>
        <td>{{auditor.candidateAffiliation}}</td>
        <td><input name="auditorForm" type="radio" value="{{auditor.candidateID}}" required>
      </tr>
      {% endfor %}
    </tbody>
    <br><input type="submit" value="Submit">
    {% if error %}
    <p> Please complete all fields in the form. </p>
    {% endif %}
  </form>
</body>

</html>
