<!doctype html>
<html>

<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Voting page for Student Elections 2017">

  <title>Student Elections 2017 - Vote</title>
</head>

<body>
  <form action='/vote' method='POST'>
  <div class="intro-header" id="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
           <div class="intro-message">
            <h1>Vote Wisely</h1>
            <hr class="intro-divider">
            <h3>If you wish to finalize your votes:</h3>
            <input type="submit" value="Finalize Votes" class="btn btn-success">
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if error %}
  <div class="alert alert-danger" role="alert">
      Please complete all fields in the form
  </div>
  {% endif %}
    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">President</h2>
          </div>
          <div class="ml-md-auto col-lg-8">
            <table>
              {% for president in presidentList %}
              <tr>
                <td>{{president.candidateLName}}, {{president.candidateFName}}</td>
                <td>{{president.candidateAffiliation}}</td>
                <td><input class = "radioButton" name="presidentForm" type="radio" value="{{president.candidateID}}" {%if session.userPresident==president.candidateID %} checked {% endif %} required>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="content-section-b">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
             <h2 class="section-heading">Vice President</h2>
          </div>
          <div class="ml-md-auto col-lg-8">
            <table>
              {% for vicePresident in vicePresidentList %}
              <tr>
                <td>{{vicePresident.candidateLName}}, {{vicePresident.candidateFName}}</td>
                <td>{{vicePresident.candidateAffiliation}}</td>
                <td><input class = "radioButton" name="vicePresidentForm" type="radio" value="{{vicePresident.candidateID}}" {%if session.userVicePresident==vicePresident.candidateID %} checked {% endif %} required>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
             <h2 class="section-heading">Secretary</h2>
          </div>
          <div class="ml-md-auto col-lg-8">
            <table>
              {% for secretary in secretaryList %}
              <tr>
                <td>{{secretary.candidateLName}}, {{secretary.candidateFName}}</td>
                <td>{{secretary.candidateAffiliation}}</td>
                <td><input class = "radioButton" name="secretaryForm" type="radio" value="{{secretary.candidateID}}" {%if session.userSecretary==secretary.candidateID %} checked {% endif %} required>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="content-section-b">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
             <h2 class="section-heading">Treasurer</h2>
          </div>
          <div class="ml-md-auto col-lg-8">
            <table>
              {% for treasurer in treasurerList %}
              <tr>
                <td>{{treasurer.candidateLName}}, {{treasurer.candidateFName}}</td>
                <td>{{treasurer.candidateAffiliation}}</td>
                <td><input class = "radioButton" name="treasurerForm" type="radio" value="{{treasurer.candidateID}}" {%if session.userTreasurer==treasurer.candidateID %} checked {% endif %} required>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
             <h2 class="section-heading">Auditor</h2>
          </div>
          <div class="ml-md-auto col-lg-8">
            <table>
              {% for auditor in auditorList %}
              <tr>
                <td>{{auditor.candidateLName}}, {{auditor.candidateFName}}</td>
                <td>{{auditor.candidateAffiliation}}</td>
                <td><input class = "radioButton" name="auditorForm" type="radio" value="{{auditor.candidateID}}" {%if session.userAuditor==auditor.candidateID %} checked {% endif %} required>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>

<script type="text/javascript">
  var radioButtons = document.getElementsByClassName('radioButton');
  var thisRadio;
  var x = 0;
  for(x = 0; x < radioButtons.length; x++){
    radioButtons[x].checked = false;
    radioButtons[x].onclick = function() {
      if(thisRadio == this){
        this.checked = false;
        thisRadio = null;
      }else{
        thisRadio = this;
      }
    };
  }
</script>

</html>
